.month{
    text-align: end;
    font-weight: normal;
    
}
.btn {
    
    background-color: transparent;
    padding: 4px;
    border-radius: 3px;
    margin: 0px 8px;
  }
th{
    line-height: 32px;
}
.week-days th{
    font-weight: 400;
}